.ourYachts {
  padding: 0;
background: #0e1823;
}

.ourYachtsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.sectionTitle {
  margin: 150px 0 75px 0;
  font-family: var(--font-family);
font-weight: 500;
font-size: 48px;
line-height: 100%;
letter-spacing: -0.02em;
text-align: center;
color: #fbfbfb;
}

.list {
  display: grid;
  gap: 24px;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.card {
  background: #fbfbfb;
  border-radius: 24px;
  padding: 16px;
  display: grid;
  gap: 16px;
  min-width: 0;
}

.card:global(.visually-hidden-tablet),
.card:global(.visually-hidden-descktop) {
  display: none;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 20px;
  object-fit: cover;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  margin: 0 16px;
}

.cardName {
  margin: 0;
  color: #0e3b44;
  font-weight: 700;
}

.cardCategory {
  color: #1b414b;
  font-size: 0.95rem;
  opacity: 0.4;
}

.divider {
  border: 0;
  border-top: 1px solid rgba(14, 59, 68, 0.2);
  margin: 0;
  margin-left: 16px;
  margin-right: 16px;
}

.detailsBlock {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  font-size: 0.95rem;
  margin: 0 16px;
}

.detailsList,
.detailsValues {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 8px;
}

.detailsValues {
  margin-left: auto;
  text-align: left;
}

.detail {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 118%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #040306;
  opacity: 0.4;
}

.detailValue {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 118%;
  letter-spacing: 0.03em;
  color: #040306;
}

.ctaButton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 14px 32px;
  border-radius: 15px;
  background: #1b414b;
  color: #fbfbfb;
  text-decoration: none;
  width: fit-content;
  text-align: center;
}

@media (min-width: 768px) {
  .list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .card:global(.visually-hidden-tablet) {
    display: grid;
  }
}

@media (min-width: 1280px) {
  .list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 20px;
  }

  .card:global(.visually-hidden-descktop) {
    display: grid;
  }

  .card {
    padding: 14px;
    gap: 14px;
  }
}
