/* Основные стили для всех устройств */
.footer {
  min-width: 320px;
  margin: 0 10px;
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: #1E414B;
  color: #FBFBFB;
  border-radius: 24px 24px 0px 0px;
  z-index: 999;
}

.footer .container {
  padding: 0 30px;
}

.footer-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.footer-logo {
  text-decoration: none;
  color: #FBFBFB;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.03em;
  text-transform: lowercase;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-nav-item {
  text-align: center;
}

.footer-nav-link {
  color: #fbfbfb;
  text-decoration: none;
  font-size: 14px;
  transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
  text-transform: uppercase;
}

.footer-nav-link:hover,
.footer-nav-link:focus {
  color: #1b414b;
  background-color: #fbfbfb;
}

/* Socials */
.footer-socials {
  display: flex;
  justify-content: center;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-socials-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 6px;

  transition: opacity 250ms ease-in-out;
}

.footer-socials-link:hover,
.footer-socials-link:focus {
  opacity: 0.8;
}

.footer-socials-icon {
  width: 24px;
  height: 24px;
  fill: #FFFFFF;
}

.footer-slogan {
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 0 16px;
}

.footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 12px;
  color: rgba(251, 251, 251, 0.4);
}

.footer-policy {
  color: rgba(251, 251, 251, 0.4);
  text-decoration: none;
  transition: color 250ms ease-in-out;
}

.footer-policy:hover,
.footer-policy:focus {
  color: rgba(251, 251, 251, 0.7);
}

/* Mobile version - стили для мобильной версии */
@media screen and (max-width: 767px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 20px;
  }
  
  .footer-top {
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .footer-logo-nav {
    display: flex;
    align-items: flex-start;
    gap: 37px;
    margin-bottom: 80px;
  }
  
  .footer-logo {
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .footer-nav {
    display: flex;
    flex-direction: row;
    gap: 4px;
    margin-bottom: 0;
  }
  
  .footer-nav-link {
    font-size: 9px;
    line-height: 1.3;
    text-transform: uppercase;
    text-align: center;
    color: #fbfbfb;
    background: rgba(251, 251, 251, 0.3);
    padding: 0;
    border-radius: 8px;
    width: 66px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-socials {
    display: flex;
    justify-content: center;
    gap: 8px;
  }
  
  .footer-slogan {
    font-size: 18px;
    line-height: 1;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
    max-width: 283px;
    padding: 0 20px;
    margin-bottom: 82px;
  }
  
  .footer-bottom {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}

/* Планшет */
@media screen and (min-width: 768px) {
  .footer {
    margin: 0 16px;
    padding-top: 50px;
  }

  .footer .container {
    padding: 0 48px;
  }

  .footer-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    margin-bottom: 96px;
  }

  .footer-logo-nav {
    display: flex;
    justify-content: space-between;
  }

  .footer-logo {
    font-size: 20px;
    margin-right: 110px;
  }

  .footer-nav {
    display: flex;
    flex-direction: row;
    gap: 4px;
    margin-bottom: 0;
  }

  .footer-nav-link {
    font-size: 9px;
    line-height: 1.3;
    text-transform: uppercase;
    text-align: center;
    color: #fbfbfb;
    padding: 0;
    background: rgba(251, 251, 251, 0.3);
    border-radius: 8px;
    width: 91px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-socials {
    margin: 0;
    gap: 8px;
    align-self: flex-start;
    display: flex;
  }

  .footer-slogan {
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
    max-width: 613px;
    margin-bottom: 100px;
    padding: 0;
  }

  .footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
    font-size: 14px;
  }
}

/* Десктоп */
@media screen and (min-width: 1280px) {
  .footer {
    margin: 0 25px;
  }

  .footer .container {
    padding: 0 75px;
  }

  .footer-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-logo {
    margin-right: 330px;
    font-size: 22px;
  }

  .footer-nav {
    display: flex;
    flex-direction: row;
    gap: 4px;
  }

  .footer-nav-link {
    font-size: 9px;
    line-height: 1.3;
    text-transform: uppercase;
    text-align: center;
    color: #fbfbfb;
    padding: 0;
    background: rgba(251, 251, 251, 0.3);
    border-radius: 8px;
    width: 91px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-socials {
    gap: 8px;
    margin: 0;
  }
  
  .footer-slogan {
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
    max-width: 689px;
    margin-bottom: 100px;
    padding: 0;
  }

  .footer-bottom {
    flex-direction: row;
    font-size: 14px;
    justify-content: center;
  }
}
