

/* общие настройки контейнера */
.our-yachts-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* общие настройки контейнера */

/* настройки заголовка */
.our-yachts-container h2{
    font-size: 28px;
    font-weight: 500;
    letter-spacing: -0.02em;
    line-height: 1;
    color: #FBFBFB;
    margin: 80px auto 40px auto;
    text-align: center;
}

.our-yachts-line{
    position: absolute;
    color: #040306;
    opacity: 10%;
    margin-top: 303px;
    margin-left: 16px;
    width: 271px;
}

.yachts-line-width{
    width: 228px;
}

.yachts-mobile-line{
    width: 228px;
}
/* конец-настройки заголовка */

/* настройки таблиц яхт */
.our-yachts-list {
    display: flex;
    margin-bottom: 40px;
    justify-content: center;
}

/* заголовок карточки */
.yacht-header {
    min-width: 100%;
    padding: 0 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: #1B414B;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.yacht-header-padding{
    padding: 0 12px 0 16px;
}

.yacht-header p{
    letter-spacing: -0.045em;
    max-width: 140px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.yacht-header span{
    color: #040306;
    font-size: 12px;
    line-height: 1.17;
    opacity: 40%;
    letter-spacing: 0.03em;
}
/* конец-заголовок карточки */

/* настройка лишек */
.our-yachts-item {
    position: relative;
    padding: 16px;
    max-width: 335px;
    min-height: 480px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.our-yachts-image {
    border-radius: 24px;
    width: 100%;
    height: 240px;
}


.yacht-details-block{
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
}

.yacht-details-block ul{
    display: flex;
    flex-direction: column;
    gap: 6px;

    font-size: 14px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

.detail{
    opacity: 40%;
}

.yacht-details-param{
    color: #040306;
}

.visually-hidden-tablet {
display: none;
}

.visually-hidden-descktop {
display: none;
    }
/* конец-настройка лишек */

/* настройка кнопки-ссылки */
.yacht-rental-button {
    background-color: #0E1823;
    color: #FFFFFF;
    border-radius: 15px;
    padding: 14px 32px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.03em;
    cursor: pointer;
    border: 1px solid #FBFBFB;
}

.yacht-rental-button:hover {
    background-color: #FBFBFB;
    color: #1b414b;
}

.yacht-rental-button:focus {
    background-color: #1b414b;
    color: #FBFBFB;
}

/* конец-настройка кнопки-ссылки */

/* медиа для телефона */
@media only screen and ((min-width: 375px) and (max-width: 767px)) {
    .our-yachts-container h2 {
        max-width: 312px;
    }
}
/* конец-медиа для телефона ниже */

/* медиа для планшета */
@media (min-width: 768px) {
    .div-yachts-container {
        max-width: 768px;
        margin: 0 auto;
    }

    .our-yachts-container h2 {
        margin-top: 150px;
    }

    .our-yachts{
        padding: 0 32px;
    }

    .our-yachts-container h2 {
        font-size: 48px;
        max-width: 645px;
        margin-bottom: 75px;
    }
    .visually-hidden-tablet{
        display: flex;
    }


    .our-yachts-list {
        width: 100%;
        flex-direction: row;
        gap: 32px;
    }

    .our-yachts-item {
        width: 350px;
    }
    .yachts-line-width{
    width: 256px;
}

.yachts-mobile-line{
    width: 260px;

}
}

/* конец-медиа для планшета */

/* медиа для десктопа */
@media (min-width: 1280px) {
.div-yachts-container {
     max-width: 1280px;
    margin: 0 auto;
}
    .our-yachts-container h2 {
        margin-top: 150px;
    }

.visually-hidden-descktop {
    display: flex;
}
 
.our-yachts-list {
    gap: 25px;
}

.our-yachts-item{
    width: 351px;
}

.yachts-line-width {
    width: 271px;
    }

.yachts-mobile-line {
    width: 275px;

}
}
/* конец-медиа для десктопа */