.rent-a-yacht-container {
  margin: 0 auto;
  padding: 0 20px;
}

.rent-yacht-content {
  margin-bottom: 80px;
}

.rent-yacht-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin-bottom: 40px;
}

.rent-yacht-form {
  display: block;
  margin-top: 0em;
  unicode-bidi: isolate;
  margin-bottom: 40px;
}

.yacht-form-label {
  display: block;
  margin-bottom: 18px;
}

.yacht-form-input {
  box-sizing: border-box;

  display: block;
  width: 100%;
  height: 42px;
  padding: 14px 18px;

  border-radius: 12px;
  border: 1px solid rgba(251, 251, 251, 0.2);
  background-color: transparent;
  outline: 0px solid transparent;
  color: #fbfbfb66;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  transition: border-color 250ms ease-in-out;
}

.yacht-form-input::placeholder {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  color: rgba(251, 251, 251, 0.4);
}

.yacht-form-input:hover,
.yacht-form-input:focus,
.yacht-form-textarea:hover,
.yacht-form-textarea:focus {
  border-color: #fbfbfb80;
}

.form-label-textarea {
  display: block;
  margin-bottom: 40px;
}

.yacht-form-textarea {
  box-sizing: border-box;

  display: block;

  color: #fbfbfb66;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  width: 100%;
  height: 108px;
  padding: 14px 18px;
  border-radius: 12px;
  border: 1px solid rgba(251, 251, 251, 0.2);
  background-color: transparent;
  resize: none;
  outline: 0px solid transparent;

  transition: border-color 250ms ease-in-out;
}

.yacht-form-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  color: rgba(251, 251, 251, 0.4);
}
.rent-yacht-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 15px;
  min-width: 122px;
  height: 46px;
  background: #1b414b;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fbfbfb;

  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}

.rent-yacht-btn:hover,
.rent-yacht-btn:focus {
  background-color: #fbfbfb;
  color: #1b414b;
}

.rent-yacht-image picture,
.rent-yacht-image img {
  border-radius: 24px;
}

@media screen and (min-width: 768px) {
  .rent-a-yacht-container {
    padding: 0 32px;
  }

  .rent-yacht-content {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    width: 472px;
  }
  .rent-yacht-title {
    margin-bottom: 50px;
    font-size: 48px;
  }

  .rent-yacht-content {
    margin-bottom: 100px;
  }

  .rent-yacht-form {
    margin-bottom: 50px;
  }

  .yacht-form-input {
    height: 54px;
    padding: 18px;
    font-size: 14px;
    line-height: 1.29;
  }

  .yacht-form-textarea {
    height: 116px;
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 14px;
    line-height: 1.29;
  }

  .rent-yacht-btn {
    min-width: 194px;
    height: 56px;
    padding: 18px 75px;
    font-size: 18px;
    line-height: 1.1;
  }
}

@media screen and (min-width: 1280px) {
  .rent-a-yacht-container {
    display: flex;
    gap: 50px;
    padding: 0 50px;
  }

  .rent-yacht-content {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    order: 2;
  }
}
